<div class="container-fluid">

<h2><%= @product.name %></h2>

<p>
  <% @product.projects.each do |project| %>
    <h2><%= project.name %></h2>
  <% end %>
</p>

<p>
  <strong><%= link_to 'Back', products_path %></strong>
</p>

</div>